@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body{
    background-color: rgb(237, 239, 239);
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
body::-webkit-scrollbar{
  width: 5px;
}
body::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgbs(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb{
  background-color: rgba(255, 3, 49, 0.386);
  outline: 1px solid rgba(255, 3, 49, 0.7);
  border-radius: 10px;
}
.home{
  height: fit-content;
  position: relative;
  padding: 1rem;
  background-color: rgb(234, 241, 244);
  margin: 0 auto;
  overflow: hidden;
}
.home-text{
  margin-top: -30px;
}
.home-image{
  display: flex;
  justify-content: right;
  position: relative;
  top: -30px;
}
.signup .home-image, .login .homeimage, .home .home-image{
  position: relative;
  top:-50px;
}
a{
  text-decoration: none;
}
.home h2{
  text-align: center;
  margin: 1rem 0;
  color: rgb(58, 57, 57);
}
.signup h2, .login h2{
  color: rgb(3, 131, 159);
  text-align: left;
  font-size: 1.2rem;
  margin: 0;
}
.home p{
  font-weight: 500;
  text-align: center;
}
.signup p, .login p{
  font-size: .8rem;
  text-align: center;
  font-weight: 700;
  color:rgb(92, 89, 89);
}
.signup p span, .login p span{
  color: rgba(255, 3, 49, 0.7);
  cursor: pointer;
}
.circle-cover{
  position: relative;
  height: fit-content;
  height: 100px;
  top: -20px;
  left: -20px;
}
.circle{
  height: 150px;
  width: 150px;
  background-color: rgb(3, 131, 159);
  border-radius: 50%;
  position: relative;
  opacity: .5;
}
.first-circle{
  left: -90px;
  top:-15px;
}
.second-circle{
  top: -250px;
  left: -25px;
}
.all-button, .submit-btn{
  padding: .5rem 1rem;
  background-color: rgba(255, 3, 49, 0.7);
  border-radius: 5px;
  border: none;
  color: rgb(252, 249, 249);
  width: 80%;
  cursor: pointer;
  outline: none;
}
.task-state{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin: 2rem 0 1rem 0;
  font-family: 'Open Sans', sans-serif;
}
.task-state button{
  padding: .5rem 1rem;
  border-radius: 20px;
  border: none;
  color: rgb(252, 249, 249);
  cursor: pointer;
}
.home-button{
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.home-button a{
  width: 80%;
  cursor: pointer;
}
.home-button a button{
  width: 100%;
}
form{
  display: flex;
  justify-content: center;
  position: relative;
}
form .inner{
  width: 100%;
}
form input{
  margin: 1rem 0;
  font-size: 1rem;
}
input{
  display:block;
  width: 100%;
  border: none;
  background-color: rgba(217, 209, 211, 0.6);
  border-radius: 5px;
  outline: none;
  padding:.6rem 1rem;
  font-weight: 500;
  color: rgb(92, 89, 89);
}
input::placeholder{
  color: rgb(144, 144, 144);
}
.tasks{
  height: fit-content;
  position: relative;
  padding: 1rem;
  margin: 0 auto;
}
/* .task-cover{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:.5rem;
} */
.single-task{
  background-color:rgb(247, 251, 251);
  padding: 1rem;
  border-radius: 10px;
  margin: .5rem 0;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.single-task:hover{
  padding: 1rem 1.5rem;
}
.toggle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.toggle img{
  width: 20px;
  height: 20px;
}
/* .toggle-cover{

} */
.toggle h3{
  font-weight: 500;
}
.category, .dates, .buttons{
  display: flex;
  align-items: center;
  gap:1rem;
  margin: .8rem 0;
}
.category h4{
  background-color: rgba(255, 3, 49, 0.453);
  color: rgb(234, 241, 244);
  font-weight: 400;
  padding:.5rem;
  border-radius: 5px;
  font-size: .8rem;
}
.category p{
  font-size: .8rem;
}
.buttons{
  justify-content: space-between;
  align-items: flex-end;
}
#status{
  position: relative;
}
#status p, .completed{
  padding: .5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(87, 83, 83);
  color:rgb(236, 236, 221);
  cursor: pointer;
  outline: none;
}
.action-button{
  display: flex;
  gap:1.5rem;
}
.action-button img{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.options{
  background-color: rgba(87, 83, 83, 0.215);
  margin: .3rem 0;
  position: absolute;
  right: 0;
}
.options option{
  padding: .5rem 1rem;
  cursor: pointer;
  transition: all 100ms ease-out;
}
.options option:hover{
  background-color: rgba(87, 83, 83, 0.429);
  padding: .5rem 1.2rem;
}
.dates h4{
  color: rgb(59, 59, 59);
  font-weight: 500;
}
/* .buttons{} */
.intro{
  display: flex;
  justify-content: space-between;
  gap:1rem;
  align-items: center;
  padding: 1rem 1rem;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}
.intro img{
  width: 25px;
  height: 25px;
}
.intro h4{
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}
.intro h4:hover{
  background: url('./images/power.svg');
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.intro h2{
  font-size: 1.3rem;
  width: 50%;
  text-align: left;
}
nav ul{
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav ul li{
  list-style: none;
  cursor: pointer;
}
.plus-icon{
  display: flex;
  justify-content: space-between;
  padding: .5rem 1rem;
}
.single-category-section{
  position: relative;
}
.categorized-tasks{
  position: fixed;
  top: 85px;
  right: 0;
  left: auto;
  height: 100vh;
  width: 100%;
margin: 0 auto;
  background-color: rgb(237, 239, 239);

}
.create-task-form{
  box-sizing: border-box;
  position: absolute;
  z-index:2;
  width: 100%;
  top:0;
  left: 0;
  margin: 0 auto;
  background-color: rgb(237, 239, 239);
  padding:1rem 1.5rem;
}

.categorized-tasks .task-cover, .categorized-tasks .plus-icon{
  width: 90%;
  margin: 0 auto;
}
.close{
  display: flex;
  justify-content: flex-end;
}
.update-task .create-task-form{
  position: static;
}
.create-task-form input, .create-task-form textarea{
  background-color: rgba(209, 213, 216, 0.861);
  color: rgb(88, 87, 87);
  box-sizing: border-box;
  margin: .5rem 0;
  font-size: 1rem;
  border: none;
  outline: none;
  width: 100%;
}
.create-task-form textarea{
  border-radius: 10px;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
}
.create-task-form button{
  width: 100%;
  font-size: 1rem;
  padding: .5rem 1rem;
  background-color: rgba(255, 3, 49, 0.7);
  border-radius: 5px;
  border: none;
  color: rgb(252, 249, 249);
}
.submit-btn .spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  direction:row;
  align-items:"center";
}

.update-task form{
  display: block;
}
.avatar{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.avatar h4{
  position: absolute;
  right: 0;
  bottom: -20px;
}
.avat{
  width: 30px;
  height: 30px;
  background-image: url('./images/avatar.svg');
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid rgb(173, 216, 230);
  border-radius: 50%;
  color: transparent;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}
.avat:hover{
  background-image: unset;
  opacity: 1;
  color: rgb(1, 1, 46);
}
.Toastify__toast-container{
  position: absolute;
  background-color: white;
  padding: .5rem;
  gap:1rem;
  top:-10px;
}
.Toastify__progress-bar{
  width: 100%;
  height: 3px;
  background-color: red;
  display: block;
}
.Toastify__toast-body{
  display: flex;
  gap: 1rem;
}
.Toastify__close-button{
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}
.Toastify__toast-icon {
  width: 20px;
  height: 20px;
}
@media screen and (min-width:420px){
  .home{
    width: 45%;
    box-shadow: 2px 2px 5px 5px rgb(198, 234, 246);
    border-radius: 10px;
    padding:0 3rem 1.5rem 3rem;
    margin: 1rem auto;
  }
  .update-task{
    width: 70%;
    margin: 0 auto;
    height: 100vh;
  }
  .circle-cover{
    height: 150px;
  }
  .signup h2, .login h2{
    font-size: 1.5rem;
  }
  .categorized-tasks{
    padding-top: 5rem;
  }
  .categorized-tasks .task-cover, .categorized-tasks .plus-icon{
    width: 55%;
    margin: 0 auto;
  }
  .category, .dates, .buttons{
    display: flex;
    align-items: center;
    /* gap:1rem;
    margin: .8rem 0; */
  }
  .category h4, .category p{
    font-size: 1rem;
  }
  form input{
    margin: 1.5rem 0;
    font-size: 1rem;
  }
  
  .intro{
    width: 75%;
  margin: 1.5rem auto;
  
  }
  .intro ul{
    gap:3rem;
  }
  .tasks{
    width: 60%;
    margin: auto;
    overflow: hidden;
  }
  .circle{
    width: 200px;
    height: 200px;
  }
  .signup .home-image, .login .homeimage, .home .home-image{
    top:-100px;
  }
  .first-circle{
    left: -150px;
    top:-10px;
  }
  .second-circle{
    top: -300px;
    left: -50px;
  }
 
}